Repository CachaSan10/TP_FINAL_2023-PV, pull requests merged in 2023-06, with the labels that each got.

#6 Responsable: Villena Franco
  .project
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/entity/Usuario.java
Labels: Crear clase de la capa entity, Fusion de ramas

#8 Responsable: Villena Franco
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/repository/IUsuarioRepository.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/IUsuarioService.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/imp/UsuarioServiceImp.java
Labels: Crear clase de la capa repository, Crear clase de la capa service, Crear clase de la capa service.imp

#10 Responsable: Villena Franco
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/controller/UsuarioController.java
Labels: Crear Controller

#12 Responsable: Nahuel Alberto Cachambi
  README.md
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/entity/Ingrediente.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/entity/Receta.java
  Tp_Final_Programacion_Visual_2023/src/main/resources/messages.properties
Labels: Fusion de ramas

#14 Responsable: Abel Nestor Peñaloza
  Tp_Final_Programacion_Visual_2023/src/main/resources/static/css/estilos.css
  Tp_Final_Programacion_Visual_2023/src/main/resources/static/images/carrusel-1.jpg
  Tp_Final_Programacion_Visual_2023/src/main/resources/static/images/carrusel-2.jpg
  Tp_Final_Programacion_Visual_2023/src/main/resources/static/images/carrusel-3.jpg
  Tp_Final_Programacion_Visual_2023/src/main/resources/static/images/carrusel-4.jpg
  Tp_Final_Programacion_Visual_2023/src/main/resources/static/images/dieta.jpg
  Tp_Final_Programacion_Visual_2023/src/main/resources/static/images/logo.jpg
  Tp_Final_Programacion_Visual_2023/src/main/resources/static/images/logo1.png
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/index.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/layouts/header.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/layouts/nav.html
Labels: Crear archivos html, Crear archivo css, Fusion de ramas

#16 Crear la clase Testimonio
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/entity/Testimonio.java
Labels: Crear clase de la capa entity

#19 Responsable: Villena Franco
  Tp_Final_Programacion_Visual_2023/src/main/resources/static/css/estilos.css
  Tp_Final_Programacion_Visual_2023/src/main/resources/static/images/img1.png
  Tp_Final_Programacion_Visual_2023/src/main/resources/static/images/img2.png
  Tp_Final_Programacion_Visual_2023/src/main/resources/static/images/img3.png
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/layouts/footer.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/nuevo_usuario.html
Labels: Crear archivos html, Fusion de ramas

#21 Responsable: Villena Franco
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/controller/UsuarioController.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/entity/Usuario.java
  Tp_Final_Programacion_Visual_2023/src/main/resources/static/css/estilos.css
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/agradecimiento.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/layouts/footer.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/nuevo_usuario.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/usuarios.html
Labels: Modificar archivos, Crear archivos html

#23 Responsable: Villena Franco
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/controller/UsuarioController.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/entity/Usuario.java
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/nuevo_usuario.html
Labels: Fusion de ramas, Agregar Validaciones

#24 Cachambi repository service
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/entity/Ingrediente.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/entity/Receta.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/repository/IIngredienteRepository.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/repository/IRecetaRepository.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/IIngredienteService.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/IRecetaService.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/imp/IngredienteServiceMysql.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/imp/RecetaServiceMysqlImp.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/util/UploadFile.java
Labels: Fusion de ramas

#26 Responsable: Nahuel Alberto Cachambi
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/entity/IndiceMasaCorporal.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/entity/Usuario.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/imp/IngredienteServiceMysqlImp.java
Labels: Fusion de ramas

#27 Responsable: Moyata, Lautaro Nahuel
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/entity/Testimonio.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/repository/ITestimonioRepository.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/ITestimonioService.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/imp/TestimonioServiceImp.java
Labels: Modificar archivos, Crear clase de la capa repository, Crear clase de la capa service, Crear clase de la capa service.imp

#29 Responsable: Moyata, Lautaro Nahuel
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/controller/TestimonioController.java
Labels: Crear Controller

#32 Responsable: Moyata, Lautaro Nahuel
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/controller/TestimonioController.java
Labels: Modificar archivos

#33 Responsable: Moyata, Lautaro Nahuel
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/entity/Testimonio.java
Labels: Modificar archivos

#35 Responsable: Moyata, Lautaro Nahuel
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/repository/ITestimonioRepository.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/ITestimonioService.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/imp/TestimonioServiceImp.java
Labels: Modificar archivos

#36 Responsable: Nahuel Alberto Cachambi
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/repository/IIndiceMasaCorporalRepository.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/IIndiceMasaCorporalService.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/imp/IndiceMasaCorporalMysqlImp.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/imp/IndiceMasaCorporalServiceMysqlImp.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/imp/IngredienteServiceMysqlImp.java
Labels: Fusion de ramas

#37 Responsable: Nahuel Alberto Cachambi
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/controller/TestimonioController.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/controller/UsuarioController.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/entity/Testimonio.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/entity/Usuario.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/imp/TestimonioServiceMysqlImp.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/imp/UsuarioServiceMysqlImp.java
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/index.html
Labels: Fusion de ramas

#41 Responsable: Villena Franco
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/entity/Usuario.java
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/index.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/layouts/footer.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/layouts/nav.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/nuevo_usuario.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/usuarios.html
Labels: documentation, Modificar archivos, Fusion de ramas

#44 Responsable: Moyata, Lautaro Nahuel
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/controller/ContactoController.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/controller/TestimonioController.java
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/contacto.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/layouts/nav.html
Labels: Modificar archivos, Crear archivos html, Crear Controller

#46 Cachambi controller vista
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/controller/IndiceMasaCorporalController.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/entity/IndiceMasaCorporal.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/repository/IUsuarioRepository.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/IIndiceMasaCorporalService.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/imp/IndiceMasaCorporalServiceMysqlImp.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/imp/UsuarioServiceMysqlImp.java
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/calculadora-imc.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/registros-imc.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/resultado-imc.html
Labels: Fusion de ramas

#47 Responsable: Moyata, Lautaro Nahuel
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/controller/TestimonioController.java
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/nueva_receta.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/receta.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/testimonio.html
Labels: Modificar archivos, Crear archivos html

#49 Responsable: Moyata, Lautaro Nahuel
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/controller/TestimonioController.java
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/contacto.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/layouts/nav.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/nueva_receta.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/receta.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/testimonio.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/usuarios.html
Labels: Modificar archivos

#52 Responsable: VillenaFranco
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/controller/IngredienteController.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/IIngredienteService.java
  Tp_Final_Programacion_Visual_2023/src/main/java/ar/edu/unju/fi/service/imp/IngredienteServiceMysqlImp.java
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/ingredientes.html
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/nuevo_ingrediente.html
Labels: Modificar archivos, Crear archivos html, Fusion de ramas, Crear Controller

#54 Responsable: Moyata, Lautaro Nahuel
  Tp_Final_Programacion_Visual_2023/src/main/resources/templates/nuevo_testimonio.html
Labels: Crear archivos html
